@charset "UTF-8";
.single-page {
  min-height: 100vh;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch; }

.secao1-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/01.webp); }
  .secao1-container .content {
    max-width: 80vw; }
    .secao1-container .content .logo {
      max-width: calc(20vw + 128px); }
    .secao1-container .content h1 {
      color: #c4972e;
      font-size: calc(6vw + 1.2rem);
      text-shadow: 5px 4px 8px rgba(0, 0, 0, 0.6); }
    .secao1-container .content p {
      font-size: calc(1vw + 1rem);
      color: #fff; }

.secao2-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(/images/5332433.jpg); }
  .secao2-container .content .video-container {
    aspect-ratio: 16 / 9;
    width: 100%; }
    @media (max-width: 915px) and (orientation: portrait) {
      .secao2-container .content .video-container {
        aspect-ratio: 4 / 3; } }
    .secao2-container .content .video-container .video {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .secao2-container .content h2 {
    font-size: 48px; }
  .secao2-container .content p {
    font-size: 24px;
    max-width: 60vw; }

.secao3-container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: url(/images/fundoCorações.png); }
  .secao3-container .content h2 {
    color: #c4972e; }
  .secao3-container .content .beneficios__container {
    display: flex;
    align-items: center; }
    @media (max-width: 915px) and (orientation: portrait) {
      .secao3-container .content .beneficios__container {
        flex-direction: column; } }
    .secao3-container .content .beneficios__container .image__container img {
      aspect-ratio: 1;
      max-width: 35vw;
      object-fit: cover;
      -webkit-mask-image: url(/images/heart-icon.svg);
      mask-image: url(/images/heart-icon.svg);
      -webkit-mask-size: 90%;
      mask-size: 90%;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center; }
    .secao3-container .content .beneficios__container .beneficios {
      max-width: calc(50vw + 320px); }
      .secao3-container .content .beneficios__container .beneficios h3 {
        color: #c4972e;
        font-size: 2rem; }
      .secao3-container .content .beneficios__container .beneficios ul {
        list-style: none; }
        .secao3-container .content .beneficios__container .beneficios ul li + li {
          margin-block-start: 1rem; }

/* UTILIDADES */
.cursive {
  font-family: "Satisfy", cursive; }

.block {
  display: block; }

.flex {
  display: flex; }

.align-center {
  align-items: center; }

.justify-between {
  justify-content: space-between; }

.mx-auto {
  margin-inline: auto; }

.my-1 {
  margin-block: 0.25rem; }

.mx-1 {
  margin-inline: 0.25rem; }

.py-1 {
  padding-block: 0.25rem; }

.px-1 {
  padding-inline: 0.25rem; }

.my-2 {
  margin-block: 0.5rem; }

.mx-2 {
  margin-inline: 0.5rem; }

.py-2 {
  padding-block: 0.5rem; }

.px-2 {
  padding-inline: 0.5rem; }

.my-3 {
  margin-block: 0.75rem; }

.mx-3 {
  margin-inline: 0.75rem; }

.py-3 {
  padding-block: 0.75rem; }

.px-3 {
  padding-inline: 0.75rem; }

.my-4 {
  margin-block: 1rem; }

.mx-4 {
  margin-inline: 1rem; }

.py-4 {
  padding-block: 1rem; }

.px-4 {
  padding-inline: 1rem; }

.my-5 {
  margin-block: 1.25rem; }

.mx-5 {
  margin-inline: 1.25rem; }

.py-5 {
  padding-block: 1.25rem; }

.px-5 {
  padding-inline: 1.25rem; }

.my-6 {
  margin-block: 1.5rem; }

.mx-6 {
  margin-inline: 1.5rem; }

.py-6 {
  padding-block: 1.5rem; }

.px-6 {
  padding-inline: 1.5rem; }

.my-7 {
  margin-block: 1.75rem; }

.mx-7 {
  margin-inline: 1.75rem; }

.py-7 {
  padding-block: 1.75rem; }

.px-7 {
  padding-inline: 1.75rem; }

.my-8 {
  margin-block: 2rem; }

.mx-8 {
  margin-inline: 2rem; }

.py-8 {
  padding-block: 2rem; }

.px-8 {
  padding-inline: 2rem; }

.flex-col {
  flex-direction: column; }

.w-full {
  width: 100%; }

.text-center {
  text-align: center; }

.color-primary {
  color: #c4972e; }

.background-default {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover; }
