@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.single-page {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.secao1-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/01.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.secao1-container .content {
  max-width: 80vw;
}
.secao1-container .content .logo {
  max-width: calc(15vw + 128px);
}
.secao1-container .content h1 {
  color: #c4972e;
  font-size: calc(3vw + 1.2rem);
  text-shadow: 5px 4px 8px rgba(0, 0, 0, 0.6);
}
.secao1-container .content p {
  max-width: calc(100% - 30vw);
  margin-inline: auto;
  font-size: 22px;
  color: #fff;
}

.secao2-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(/images/5332433.jpg);
}
.secao2-container .content .video-container {
  margin-block-start: 2rem;
  aspect-ratio: 16/9;
  width: 100%;
}
@media (max-width: 915px) and (orientation: portrait) {
  .secao2-container .content .video-container {
    aspect-ratio: 4/3;
  }
}
.secao2-container .content .video-container .video {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.secao2-container .content h2 {
  font-size: 48px;
}
.secao2-container .content p {
  font-size: 24px;
  max-width: 60vw;
}

.secao3-container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: url(/images/fundoCorações.png);
}
.secao3-container .content .beneficios__container {
  display: flex;
  align-items: center;
}
@media (max-width: 915px) and (orientation: portrait) {
  .secao3-container .content .beneficios__container {
    flex-direction: column;
  }
}
.secao3-container .content .beneficios__container .image__container img {
  aspect-ratio: 1;
  max-width: 35vw;
  object-fit: cover;
  -webkit-mask-image: url(/images/heart-icon.svg);
  mask-image: url(/images/heart-icon.svg);
  -webkit-mask-size: 90%;
  mask-size: 90%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
.secao3-container .content .beneficios__container .beneficios {
  max-width: calc(50vw + 320px);
}
.secao3-container .content .beneficios__container .beneficios h3 {
  color: #c4972e;
  font-size: 2rem;
}
.secao3-container .content .beneficios__container .beneficios ul {
  list-style: none;
}
.secao3-container .content .beneficios__container .beneficios ul li + li {
  margin-block-start: 1rem;
}

.secao4-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/banner04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  height: 100vh;
  color: white;
}
.secao4-container h2 {
  font-size: 4rem;
}
.secao4-container strong {
  font-size: 3rem;
}
.secao4-container .redes-sociais {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}
.secao4-container .redes-sociais li a {
  text-decoration: none;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: cover;
}
.secao4-container .redes-sociais li a[data-social=facebook] {
  background-image: url("../../images/facebook.svg");
}
.secao4-container .redes-sociais li a[data-social=instagram] {
  background-image: url("../../images/instagram.svg");
}
.secao4-container .redes-sociais li a[data-social=whatsapp] {
  background-image: url("../../images/whatsapp.svg");
}
.secao4-container .redes-sociais li a[data-social=email] {
  background-image: url("../../images/o-email.svg");
}

.secao5-container {
  display: grid;
  place-items: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(/images/5332433.jpg);
  height: 100vh;
}
.secao5-container .wrapper .form-container {
  display: flex;
  width: 100%;
  max-width: 768px;
  background-color: #fff;
}
@media (max-width: 1023px) and (orientation: portrait) {
  .secao5-container .wrapper .form-container {
    flex-direction: column;
  }
}
.secao5-container .wrapper .form-container .col-left {
  background: #c4972e;
}
.secao5-container .wrapper .form-container .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
@media (orientation: landscape) {
  .secao5-container .wrapper .form-container .col-left {
    width: 50%;
    -webkit-clip-path: polygon(98% 17%, 100% 34%, 98% 51%, 100% 68%, 98% 84%, 100% 100%, 0 100%, 0 0, 100% 0);
    clip-path: polygon(98% 17%, 100% 34%, 98% 51%, 100% 68%, 98% 84%, 100% 100%, 0 100%, 0 0, 100% 0);
  }
}
.secao5-container .wrapper .form-container .login-text img {
  aspect-ratio: 1;
  max-width: calc(10vw + 64px);
}
.secao5-container .wrapper .form-container .login-text p {
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
}
.secao5-container .wrapper .form-container .login-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.secao5-container .wrapper .form-container .login-form input {
  font-size: 1rem;
  display: block;
  width: 100%;
  max-width: 256px;
  padding-inline: 1rem;
  padding-block: 1rem;
  border: 2px solid #cccccc;
  border-radius: 8px;
}
.secao5-container .wrapper .form-container .login-form input::placeholder {
  font-size: 0.875rem;
}
.secao5-container .wrapper .form-container .login-form button[type=submit] {
  border: none;
  width: 100%;
  padding-block: 1rem;
  border-radius: 8px;
  letter-spacing: 1px;
  color: #ffffff;
  background: #c4972e;
  border-color: #c4972e;
  outline: none;
  cursor: pointer;
}
.secao5-container .wrapper .links ul {
  font-size: 1rem;
  font-weight: 600;
  list-style: none;
  color: #606c38;
  padding: 0;
}
.secao5-container .wrapper .links ul li a {
  --spacing: 0.1em;
  --color: var(--cor-destaque);
  text-decoration: none;
  font-size: 1.2em;
  color: var(--cor-letra-clara);
  cursor: pointer;
  padding-bottom: var(--spacing);
  background: linear-gradient(90deg, var(--color) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%, linear-gradient(var(--color) 0 0) 0% 100%/var(--_p, 0%) var(--spacing) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.color-primary {
  color: #c4972e;
}

.centralize {
  display: grid;
  place-items: center;
}

.min-h-screen {
  min-height: 100vh;
}
@media (max-width: 915px) {
  .min-h-screen {
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  }
}

.bg-default {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.max-w-5xl {
  max-width: 72rem;
}

.slide {
  scroll-snap-align: start;
}

.bold {
  font-weight: 700;
}

.cursive {
  font-family: "Satisfy", cursive;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.mx-auto {
  margin-inline: auto;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.my-1 {
  margin-block: 0.25rem;
}

.mx-1 {
  margin-inline: 0.25rem;
}

.py-1 {
  padding-block: 0.25rem;
}

.px-1 {
  padding-inline: 0.25rem;
}

.my-2 {
  margin-block: 0.5rem;
}

.mx-2 {
  margin-inline: 0.5rem;
}

.py-2 {
  padding-block: 0.5rem;
}

.px-2 {
  padding-inline: 0.5rem;
}

.my-3 {
  margin-block: 0.75rem;
}

.mx-3 {
  margin-inline: 0.75rem;
}

.py-3 {
  padding-block: 0.75rem;
}

.px-3 {
  padding-inline: 0.75rem;
}

.my-4 {
  margin-block: 1rem;
}

.mx-4 {
  margin-inline: 1rem;
}

.py-4 {
  padding-block: 1rem;
}

.px-4 {
  padding-inline: 1rem;
}

.my-5 {
  margin-block: 1.25rem;
}

.mx-5 {
  margin-inline: 1.25rem;
}

.py-5 {
  padding-block: 1.25rem;
}

.px-5 {
  padding-inline: 1.25rem;
}

.my-6 {
  margin-block: 1.5rem;
}

.mx-6 {
  margin-inline: 1.5rem;
}

.py-6 {
  padding-block: 1.5rem;
}

.px-6 {
  padding-inline: 1.5rem;
}

.my-7 {
  margin-block: 1.75rem;
}

.mx-7 {
  margin-inline: 1.75rem;
}

.py-7 {
  padding-block: 1.75rem;
}

.px-7 {
  padding-inline: 1.75rem;
}

.my-8 {
  margin-block: 2rem;
}

.mx-8 {
  margin-inline: 2rem;
}

.py-8 {
  padding-block: 2rem;
}

.px-8 {
  padding-inline: 2rem;
}

/*# sourceMappingURL=main.css.map */
