@import "_variables.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.single-page {
    min-height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

.secao1-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(/images/01.webp);
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        max-width: 80vw;
        .logo {
            max-width: calc(15vw + 128px);
        }

        h1 {
            color: $primary-color;
            font-size: calc(3vw + 1.2rem);
            text-shadow: $shadow-1;
        }

        p {
            max-width: calc(100% - 30vw);
            margin-inline: auto;
            font-size: 22px;
            color: $white;
        }
    }
}

.secao2-container {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.6)
        ),
        url(/images/5332433.jpg);

    .content {
        .video-container {
            margin-block-start: 2rem;
            aspect-ratio: 16 / 9;
            width: 100%;

            @media (max-width: 915px) and (orientation: portrait) {

                aspect-ratio: 4 / 3;
            }

            .video {
                border-radius: 8px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h2 {
            font-size: 48px;
        }

        p {
            font-size: 24px;
            max-width: 60vw;
        }
    }
}

.secao3-container {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-image: url(/images/fundoCorações.png);

    .content {
        .beneficios__container {
            display: flex;
            align-items: center;

            @media (max-width: 915px) and (orientation: portrait) {
                flex-direction: column;
            }

            .image__container {
                img {
                    aspect-ratio: 1;
                    max-width: 35vw;
                    object-fit: cover;
                    -webkit-mask-image: url(/images/heart-icon.svg);
                    mask-image: url(/images/heart-icon.svg);
                    -webkit-mask-size: 90%;
                    mask-size: 90%;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;
                }
            }

            .beneficios {
                max-width: calc(50vw + 320px);
                h3 {
                    color: $primary-color;
                    font-size: 2rem;
                }

                ul {
                    list-style: none;

                    li + li {
                        margin-block-start: 1rem;
                    }
                }
            }
        }
    }
}

.secao4-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(/images/banner04.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    place-items: center;
    height: 100vh;

    color: white;

    h2 {
        font-size: 4rem;
    }

    strong {
        font-size: 3rem;
    }
    
    .redes-sociais {
        display: flex;
        justify-content: center;
        gap: 1rem;
        list-style: none;

        li a {
            text-decoration: none;
            display: inline-block;
            width: 32px;
            height: 32px;
            background-size: cover;

            &[data-social="facebook"] {
                background-image: url("../../images/facebook.svg");
            }

            &[data-social="instagram"] {
                background-image: url("../../images/instagram.svg");
            }

            &[data-social="whatsapp"] {
                background-image: url("../../images/whatsapp.svg");
            }

            &[data-social="email"] {
                background-image: url("../../images/o-email.svg");
            }
        }
    }
}

.secao5-container {
    display: grid;
    place-items: center;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.6)
        ),
        url(/images/5332433.jpg);
    height: 100vh;

    .wrapper {
        .form-container {
            display: flex;
            width: 100%;
            max-width: 768px;
            background-color: #fff;

            @media (max-width: 1023px) and (orientation: portrait) {
                flex-direction: column;
            }

            .col-left {
                background: #c4972e;
            }

            .login-form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-inline: auto;
            }

            @media (orientation: landscape) {
                .col-left {
                    width: 50%;
                    -webkit-clip-path: polygon(
                        98% 17%,
                        100% 34%,
                        98% 51%,
                        100% 68%,
                        98% 84%,
                        100% 100%,
                        0 100%,
                        0 0,
                        100% 0
                    );
                    clip-path: polygon(
                        98% 17%,
                        100% 34%,
                        98% 51%,
                        100% 68%,
                        98% 84%,
                        100% 100%,
                        0 100%,
                        0 0,
                        100% 0
                    );
                }
            }

            .login-text {
                img {
                    aspect-ratio: 1;
                    max-width: calc(10vw + 64px);
                }

                p {
                    font-size: 1.25rem;
                }
            }

            .login-form {
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }

                input {
                    font-size: 1rem;
                    display: block;
                    width: 100%;
                    max-width: 256px;
                    padding-inline: 1rem;
                    padding-block: 1rem;
                    border: 2px solid #cccccc;
                    border-radius: 8px;

                    &::placeholder {
                        font-size: 0.875rem;
                    }
                }

                button[type="submit"] {
                    border: none;
                    width: 100%;
                    padding-block: 1rem;
                    border-radius: 8px;
                    letter-spacing: 1px;
                    color: #ffffff;
                    background: #c4972e;
                    border-color: #c4972e;
                    outline: none;
                    cursor: pointer;
                }
            }
        }

        .links {
            ul {
                font-size: 1rem;
                font-weight: 600;
                list-style: none;
                color: #606c38;
                padding: 0;

                li {
                    a {
                        --spacing: 0.1em;
                        --color: var(--cor-destaque);
                        text-decoration: none;
                        font-size: 1.2em;
                        color: var(--cor-letra-clara);
                        cursor: pointer;
                        padding-bottom: var(--spacing);
                        background: linear-gradient(
                                    90deg,
                                    var(--color) 50%,
                                    #000 0
                                )
                                calc(100% - var(--_p, 0%)) / 200% 100%,
                            linear-gradient(var(--color) 0 0) 0% 100% /
                                var(--_p, 0%) var(--spacing) no-repeat;
                        -webkit-background-clip: text, padding-box;
                        background-clip: text, padding-box;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}

.flex-col {
    flex-direction: column;
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.color-primary {
    color: $primary-color;
}

.centralize {
    display: grid;
    place-items: center;
}

.min-h-screen {
    min-height: 100vh;

    @media (max-width: 915px) {
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height: fill-available;
    }
}

.bg-default {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.max-w-5xl {
    max-width: 72rem;
}

.slide {
    scroll-snap-align: none;
}

.bold {
    font-weight: 700;
}

.cursive {
    font-family: "Satisfy", cursive;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.mx-auto {
    margin-inline: auto;
}

@for $i from 2 through 8 {
    .gap-#{$i} {
        gap: #{$i / 4}rem;
    }
}

@for $i from 1 through 8 {
    .my-#{$i} {
        margin-block: #{$i / 4}rem;
    }

    .mx-#{$i} {
        margin-inline: #{$i / 4}rem;
    }

    .py-#{$i} {
        padding-block: #{$i / 4}rem;
    }

    .px-#{$i} {
        padding-inline: #{$i / 4}rem;
    }
}
